*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

@mixin  display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin  paragraph{
    font-weight: 400;
    font-family: $secondery-font;
    color: #4D5053;
    line-height: 3.3rem;
}

$main-font:"DM Serif Display", serif;
$secondery-font:"Jost", sans-serif;


ul{
    @include display;
    font-family: $secondery-font;
    width: 64rem;
    li{
        list-style-type: none;
        font-weight:500;
        font-size:2rem;
        line-height:2.5rem;
        color: #4D5053;
    } 
       
}

h2{
    font-weight:400;
    font-size:5rem;
    line-height:6.2rem;
    font-family: $main-font;
    margin-bottom: 3.4rem;
}

h4{
    font-weight:400;
    font-size:2.5rem;
    line-height:3.1rem;
    font-family: $main-font;
}

p{
    @include paragraph;
    font-size: 2.2rem
}

.more{
    @include display;
    >p{
        @include paragraph;
        font-size: 1.6rem;
    }

    span{
        display: inline-block;
        background-color: #F4F0EC;
        font-size: 1.5rem;
        border-radius:50%;
        padding: 0.35em;
    }
}





body{
    max-width: 192rem;
    margin: auto
}


// --------------------Header----------
header{
    @include display;
    margin-inline: auto;
    margin-block: 5.4rem 6.6rem;
    max-width: 121rem;
    ul{
        width: 64rem;
        li{
            list-style-type: none;
            font-weight:500;
            font-size:2rem;
            line-height:2.5rem;
            color: #292F36;
        }   
    }
}

// ---------------Main----------
main{

    h1{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: 7rem;
        color: #fff;
        height: 35.6rem;
        background-image: url(./img/Rectangle\ 20.png);
        background-position: center;
        background-size:cover;
    }

    div{
        @include display;
        margin-block: 5.4rem;
        margin-inline: auto;
        padding: 3em;
        max-width: 85rem;
        height: 10rem;
        border-radius: 2rem;
        background-color: #F4F0EC;

        input{
            font-size: 2.2rem;
            color: #CDA274;
            font-family: $secondery-font;
            border: none;
            background-color: inherit;
        }

        img{
            color: #CDA274;
        }

    }
}

//--------------Lastest News--------------
.news{
    max-width: 121rem;
    margin: auto;
    margin-bottom: 14rem;

    >div{
        @include display;
        
        >div{
            
            display: flex;
            flex-direction:column ;
            justify-content: space-between;
            height: 35.7rem;
            width: 49rem;
        }

    }
}

//--------------Articles-----------
.articles{
        max-width: 121rem;
        margin: auto;
        margin-bottom: 19rem;
    .cards{
        @include display;
        gap: 7.1rem;
        >div{
            img{
                width: 100%;
            }

            h4{
                margin-bottom: 2rem;
            }
        }
    
    }
}

//------------Footer---------
footer{
    max-width: 121rem;
    margin: auto;
    >div{
        @include display;
        align-items: flex-start;

        >div{
            width: 40rem;
            p{
                @include paragraph;
                font-size: 2.2rem;
                margin-block: 2rem 3.5rem;
            }

            >div{
                img{
                    margin-right: 5.5rem;
                }
            }
        }

        ul{
            flex-direction: column;
            align-items: start;
            li{
                margin-bottom: 3rem;
            }

            li:first-child{
                color: #000;
                font-family:$main-font;
                font-size: 2.5rem;
        
            }
        }

        ul:nth-last-child(3), 
        ul:nth-last-child(2){
            width: 15rem;
        }

        ul:last-child{
            width: 26rem;
        }
    }

    >p{
        text-align: center;
        margin-block: 13.8rem 1.8rem;
    }
}




